<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/index.css">
        <title>{{.Title}}</title>
        <div class="main">
            <h1>{{.Title}}</h1>
        </div>
    </head>
    <body>
        <div id="sidebar" class="sidebar">
            <h5> Navigation: </h5>
            <ul>
                {{ range .Section }}
                    {{with $links := getLinks . }}
                        {{- range $links -}}
                            <li> <a href="/{{.Filename}}" class="button">{{.Title}}</a></li>
                        {{- end -}}
                    {{end }}<hr>
                {{end}}
            </ul>
        </div>
        <div id="main" class="main">
            {{.Body}}
        </div>
    </body>
</html>
